<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easylink.cloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".control.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.FilePickActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".control.FeedbackActivity" />

        <service
            android:name=".service.UploadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".control.test.TestGlideActivity" />
        <activity android:name=".control.test.AActivity" />

        <service android:name=".control.test.TestBindService" />
        <service android:name=".control.test.TestService" />

        <activity android:name=".control.test.DownloadActivity" />

        <service
            android:name=".control.test.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.UploadBindService" />

        <activity android:name=".control.test.ViewActivity" />
        <activity android:name=".demos.RemoteViewsActivity" />

        <!-- <receiver android:name=".demos.MyAppWidgetProvider"> -->
        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/appwidget_provider_info" /> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="com.easylink.cloud.CLICK" /> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver android:name=".demos.GameAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.easyLink.cloud.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/game_app_widget_info" />
        </receiver>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>